.main{
text-align: center;
}
h2{
color: blue;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration-line: underline;
text-decoration-style: dashed;
text-align: center;
}
#page{
background-color:yellow;
display: inline-block;

border: 2px solid black;
border-radius: 10px;


}
#form{
color: blue;
font-size: 30px;

}
input{
    font-size: 20px;
   
    color: blue;
}
.class{
padding: 10px;
}
